# Backend
fastapi
uvicorn
gunicorn

# Database / ORM
sqlalchemy

# AI / ML
transformers
torch
sentence-transformers
faiss-cpu

# Utilities
python-dotenv
tqdm

# Frontend-Backend Communication
requests
